.consultas-container {
    max-width: 1810px;
    margin: 0 auto;
    padding: 50px; 
    position: relative; 
}

.consultas-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    margin-bottom: 20px;
    color: #020f53b4;
}

.consulta-card {
    background-color: #ffffffb9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(54, 49, 57, 0.657);
    width: calc(25% - 40px);
    min-width: 200px;
    max-width: 250px;
    height: 250px;
    border: 2px solid rgb(255, 255, 255);
    display: inline-block;
    vertical-align: top;
    justify-content: space-around;
    flex-direction: row;
}

.crear-consulta {
    margin-top: 5px;
    padding: 10px 17px;
    font-size: 16px;
    background-color: #0a35649c;
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.crear-consulta:hover {
    background-color: #0056b3; 
}

.generar-pdf{
    margin-top: 5px;
    padding: 10px 17px;
    font-size: 16px;
    background-color: #0a35649c;
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s ease;
}
.generar-pdf:hover {
    background-color: #0056b3; 
}

.consulta-card p {
    margin: 5px 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.consulta-card h3 {
    margin: 0;
    font-family: Arial, sans-serif;
}

.consultas-container::before {
    content: '';/*  */
    position: absolute;
    top: 0;
    left: 0;
    width: 115rem;
    height: 56.5rem;
    background-image: url('../img/imgconsultas.jpeg');  
    background-size: cover;  
    background-position: center; 
    /*  background-repeat: no-repeat; */
    opacity: 1; 
    z-index: -1; 
    filter: blur(9.1px); 
}
