/* Navbar.css */

.navbar {
    /* color: transparent; */
    background-color: white;
    padding: 20px; 
    filter: blur(0.6px);    
    opacity: 1; 
    z-index: -1; 
}

.navbar-list {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.navbar-item {
    display: inline-block; 
    margin-right: 10px; 
}

.navbar-link {
    color: rgba(40, 161, 209, 0.616); 
    text-decoration: none; 
    font-weight: bold; 
    position: relative; 
}

.navbar-link:hover {
    text-decoration: dotted; 
}
